# Civilian dataset cleaning

In [82]:
import pandas as pd
import numpy as np
from typing import List

### set the correct column names:

In [83]:
civilian_data = pd.read_excel("SAS-BP-Civilian-held-firearms-annexe.xlsx")
civilian_data.columns = civilian_data.iloc[0]
civilian_data.head()

,Country code,Country,Region,NaN,Subregion,Population 2017,NaN,Estimate of firearms in civilian\npossession,NaN,"Estimate of ""Computation civilian firearms method\nper 100 persons 1-survey(s) abd expert\nestimate(s)",NaN,NaN,NaN,Registered firearms,NaN,Unregistered firearms
0,Country code,Country,Region,NaN,Subregion,Population 2017,NaN,Estimate of firearms in civilian\npossession,NaN,"Estimate of ""Computation civilian fire...",NaN,NaN,NaN,Registered firearms,NaN,Unregistered firearms
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2-expert estimate(s),NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3-analogous comparison,NaN,NaN,NaN,NaN,NaN
3,AFG,Afghanistan,Asia,NaN,Southern Asia,34169000,NaN,NaN,4270000,12.5,NaN,2.0,NaN,NaN,NaN,NaN
4,ALB,Albania,Europe,NaN,Southern Europe,2911000,NaN,NaN,350000,12,NaN,2.0,NaN,NaN,65747.0,284253

In [84]:
civilian_data = civilian_data.drop([0,1,2], axis=0)
civilian_data.head()

,Country code,Country,Region,NaN,Subregion,Population 2017,NaN,Estimate of firearms in civilian\npossession,NaN,"Estimate of ""Computation civilian firearms method\nper 100 persons 1-survey(s) abd expert\nestimate(s)",NaN,NaN,NaN,Registered firearms,NaN,Unregistered firearms
3,AFG,Afghanistan,Asia,NaN,Southern Asia,34169000,NaN,NaN,4270000,12.5,NaN,2.0,NaN,NaN,NaN,NaN
4,ALB,Albania,Europe,NaN,Southern Europe,2911000,NaN,NaN,350000,12,NaN,2.0,NaN,NaN,65747.0,284253
5,DZA,Algeria,Africa,NaN,Northern Africa,41064000,NaN,NaN,877000,2.1,NaN,2.0,NaN,NaN,200000.0,677000
6,ASM,American Samoa,Oceania,NaN,Polynesia,56000,NaN,NaN,400,0.7,NaN,2.0,NaN,NaN,250.0,150
7,AND,Andorra,Europe,NaN,Southern Europe,69000,NaN,NaN,10000,14.1,NaN,3.0,NaN,NaN,7599.0,2401

### move the values from column 3 to column 2 if need be

In [85]:
civilian_data.index = range(0, civilian_data.shape[0])
for idx in range(0, civilian_data.shape[0]):
    if civilian_data.iloc[idx, 3] in ["America", "Europe", "Oceania", "Africa", "Asia"]:
        civilian_data.iloc[idx, 2] = civilian_data.iloc[idx, 3]

In [86]:
civilian_data

,Country code,Country,Region,NaN,Subregion,Population 2017,NaN,Estimate of firearms in civilian\npossession,NaN,"Estimate of ""Computation civilian firearms method\nper 100 persons 1-survey(s) abd expert\nestimate(s)",NaN,NaN,NaN,Registered firearms,NaN,Unregistered firearms
0,AFG,Afghanistan,Asia,NaN,Southern Asia,34169000,NaN,NaN,4270000,12.5,NaN,2.0,NaN,NaN,NaN,NaN
1,ALB,Albania,Europe,NaN,Southern Europe,2911000,NaN,NaN,350000,12,NaN,2.0,NaN,NaN,65747.0,284253
2,DZA,Algeria,Africa,NaN,Northern Africa,41064000,NaN,NaN,877000,2.1,NaN,2.0,NaN,NaN,200000.0,677000
3,ASM,American Samoa,Oceania,NaN,Polynesia,56000,NaN,NaN,400,0.7,NaN,2.0,NaN,NaN,250.0,150
4,AND,Andorra,Europe,NaN,Southern Europe,69000,NaN,NaN,10000,14.1,NaN,3.0,NaN,NaN,7599.0,2401
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
238,VIR,Virgin Islands (U.S.),Americas,NaN,Caribbean,107000,NaN,NaN,18000,16.6,NaN,2.0,NaN,NaN,NaN,NaN
239,YEM,Yemen,Asia,NaN,Western Asia,28120000,NaN,NaN,14859000,52.8,NaN,2.0,NaN,NaN,NaN,NaN
240,ZMB,Zambia,Africa,NaN,Eastern Africa,17238000,NaN,NaN,158000,0.9,NaN,2.0,NaN,NaN,86642.0,71358
241,ZWE,Zimbabwe,Africa,NaN,Eastern Africa,16338000,NaN,NaN,455000,2.8,NaN,2.0,NaN,NaN,190685.0,264315
242,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,857396100,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### Rename the columns again and drop the unnamed/irrelevant ones

In [87]:
civilian_data.columns = ["Country code", "Country", "Region", "unnamed 1", "Subregion", "Population 2017", "unnamed 2", "unnamed 3", "Estimate of firearms in civiian Posession","amount of weapons per 100 persons", "unnamed 4", "unnamed 5", "unnamed 6", "unnamed 7", "Registered firearms", "Unregistered firearms"]
civilian_data.drop(["unnamed 1", "unnamed 2", "unnamed 3", "unnamed 4", "unnamed 5", 'unnamed 6', "unnamed 7"], axis=1)

,Country code,Country,Region,Subregion,Population 2017,Estimate of firearms in civiian Posession,amount of weapons per 100 persons,Registered firearms,Unregistered firearms
0,AFG,Afghanistan,Asia,Southern Asia,34169000,4270000,12.5,NaN,NaN
1,ALB,Albania,Europe,Southern Europe,2911000,350000,12,65747.0,284253
2,DZA,Algeria,Africa,Northern Africa,41064000,877000,2.1,200000.0,677000
3,ASM,American Samoa,Oceania,Polynesia,56000,400,0.7,250.0,150
4,AND,Andorra,Europe,Southern Europe,69000,10000,14.1,7599.0,2401
...,...,...,...,...,...,...,...,...,...
238,VIR,Virgin Islands (U.S.),Americas,Caribbean,107000,18000,16.6,NaN,NaN
239,YEM,Yemen,Asia,Western Asia,28120000,14859000,52.8,NaN,NaN
240,ZMB,Zambia,Africa,Eastern Africa,17238000,158000,0.9,86642.0,71358
241,ZWE,Zimbabwe,Africa,Eastern Africa,16338000,455000,2.8,190685.0,264315
242,NaN,NaN,NaN,NaN,NaN,857396100,NaN,NaN,NaN

### And finally save the cleaned dataset

In [ ]:
civilian_data.to_csv("SAS-BP-Civilian-held-firearms-annexe.csv")