# Military data cleaning

In [14]:
import pandas as pd
import numpy as np

In [15]:
dataset = pd.read_excel("SAS-BP-Military-owned-firearms-annexe.xlsx")
dataset.head() # this shows that the dataset requires cleaning

,"Military Firearms Holdings, 2017\n(c) Small Arms Survey",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9
0,Country,Country,Region,Subregion,Population,NaN,Category,Total military,Firearms in sub-,Computation method
1,code,NaN,NaN,NaN,2017,NaN,NaN,firearms,categories,1-reported firearm counts 2-estimated based on...
2,AFG Afghanistan ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,ALB,Albania,Europe,Southern Europe,2911000,NaN,country total\nall active military,21750,20800,2
4,NaN,NaN,NaN,NaN,NaN,NaN,paramilitary forces,NaN,950,NaN

### Re-assigning the column names:

In [16]:
dataset.columns = dataset.iloc[0]
#dataset.head(10)

In [17]:
dataset.columns = ["Country Code", "Country", "Region", "Subregion", "Population", "Category", "Undefined", "Total military firearms", "Firearms in subcategories", "Computation method"]
#dataset.head(10)

### Here we filter out all rows that do not depict the total amount of weapons of a country's military

In [18]:
dataset = dataset.dropna(subset=["Country Code", "Country"], how="any")

### And finally save the data to csv

In [19]:
dataset.to_csv("SAS-BP-Military-owned-firearms-annexe.csv")